<h1><%= @user.name %></h1>

  <% if @user.avatar.present? %>
    <%= image_tag @user.avatar, :class => 'feature' %>
  <% end %>

<div class="controls">

  <% if @current_user.admin? %>
    <%= link_to 'Edit user', edit_user_path(@user) %>
    <%= link_to 'Delete user', @user, :method => 'delete', :data => { :confirm => 'Delete #{ @user.email } Are you sure?' } %>  
  <% else %>
    <%= link_to 'Edit user', edit_user_path(@user) %>
  <% end %>
</div>
